{% set item = page.content %}
<div class="main">
  <div class="container corporate">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40" style="margin-top: 150px; margin-bottom: 150px;">
      <!-- BEGIN CONTENT -->          
      <div class="col-md-offset-4 col-md-5 col-sm-12 margin-top-50 margin-bottom-40">
        <div class="content-page ">
        	{#
           <div class="number">
              404
           </div>
           #}
           <div class="details">
              <h3 style="font-size: 40px;">Obrigado pelo Contato!</h3>
              <p>
                 Obrigado! Brevemente entraremos em contato!<br>
                 <a href="/" class="link">Volte para página inicial</a> 
              </p>
              <p>
                Você será redirecionado para home em... <span class="cron">5</span>
              </p>
           </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>

<script>
  $(document).ready(function(){
    
    countDown(5); 

    function countDown(time){
      var count = time; 
    
      var interval = setInterval(function(){ 
        count = count - 1; 
        $('.cron').text(count);

        if (count == 0) {
          window.location.href="/";
          clearInterval(interval);
        } 
      }, 1000);
    }

  }); 
</script>