/*========== .interna ============*/
.interna .header_tit_interna{
    background-color: #31373c;
}
.interna .header_tit_interna h1{
    color: #FFF;
    margin: 30px 0 30px 0;
}
.interna .content{
    margin-top: 60px;
}
.interna .content .container{
    padding-bottom: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid #dedede;
}
.interna .content .container h2{
    font-size: 3.5em;
    margin: 0;
    padding-top: 20px;
    border-top: 2px solid #c41218;
    color: #565a5c;
    display: table;
    font-weight: 700;
}
.interna .content .container h4{
    line-height: 26px;
    font-weight: 400;
}

.photos_sec .btn-ver-todas-fotos {
    display: table;
    width: 100%;
    padding: 20px;
    background-color: #ffad38;
    text-align: center;
    color: #FFF;
}

/*========== .interna .servicos ============*/
.box-servicos{
    padding: 30px;
    border: 1px solid #dedede;
    border-top: solid 2px #ee262d;
    min-height: 310px;
    margin-bottom: 30px;
}
.box-servicos h4{
    color: #ee262d;
}

/*========== responsivo ============*/

@media only screen and (max-width: 639px) {
    .interna .header_tit_interna h1{
        text-align: center;
    }
    .interna .content .container h2{
        font-size: 3.0em !important;
    }
    .photos_sec{
        margin-top: 30px;
    }
}

