
.bt_corretor{
	background:url(../images/bt_corretor.png) no-repeat;
	width: 192px;
	height: 105px;
	display: block;
	clear: both;
	position: absolute;
	top: 330px;
	left: 398px;
}
.bt_corretor:hover{background-position: 0 -105px;}
.footer{
	width: 100%; 
	height: 230px;
	background: #aa1318; 
	/*border-top: 3px solid #CA1319; TICKET 2767*/
	color: white;
}

.footer-box{
	width: 970px;
	height: 200px;
	margin: 0 auto;
	background: #aa1318;
}

.logo-footer{
	background: url('../images/logo-footer.png') no-repeat; 
	width: 184px;
	height: 80px;
	margin-top: 50px;
	float: left; 
}

.nossa-sede{
	width: 235px;
	height: 100%; 
	float: left; 
	margin-left: 30px;
}

.title-block{
	width: 100%; 
	height: 50px;
	border-bottom: 1px solid #8e0e12; 
	text-transform: uppercase;
	font-family: 'Calibri'; 
	font-size: 13px;
	margin-top: 20px;
}

.title-block p{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.canais-atendimento{
	width: 470px;
	height: 100%; 
	float: left; 
	margin-left: 50px;
}

.seta{
	background: url('../images/seta-footer.png') no-repeat; 
	width: 8px;
	height: 11px;
	float: left;
	margin-top: 22px;
}

.body-block{
	width: 100%; 
	height: 90px; 
}

.body-block p{
	font-family: 'Calibri'; 
	font-size: 12px;
	width: 80%;
	margin-top: 30px;
}

.body-block div{
	float: left;
	margin-right: 25px;
	margin-top: 15px;
}

.body-block .vendas{
	width: 86px;
	height: 57px;
	background: url('../images/central-vendas.png'); 
	margin-right: 12px;
}
.body-block .corretor{
	width: 46px;
	height: 52px;
	background: url('../images/corretor-online.png'); 
	cursor: pointer;
}
.body-block .fale{
	width: 56px;
	height: 50px;
	background: url('../images/fale-conosco.png'); 
}
.body-block .saiba{
	width: 38px;
	height: 58px;
	background: url('../images/saiba-mais.png'); 
	margin-right: 28px;
}
.body-block .whats{
	width: 125px;
	height: 58px;
	background: url('../images/whats.png'); 
}

.inforce{
	width: 100%; 
	height: 10px;
	color: white; 
}

.inforce a{
	text-decoration: none; 
	color: white; 
}

.inforce p{
	font-family: 'Calibri'; 
	font-size:13px;
	text-align: center; 
	
}